@import "utilitarios";

.navegacao{
  align-items:center; background:#6E2B77; display:flex; flex-direction:column; justify-content:space-between; height:100vh; padding:15px; position:fixed; transition:transform 300ms; width:100px;

  &-logo{font-family: $fonteA; color: $branco; font-size: 26px;}

  &-menu{
    &-item-sobre{background: white url(../img/sobre-navegacao.png) no-repeat center;}
    &-item-contato{background: white url(../img/contato-navegacao.png) no-repeat center;}
    &-item-conta{background: white url(../img/conta-navegacao.png) no-repeat center;}
    &-item{height:40px; width:40px; border-radius: 10px;}
    &-item:not(:first-of-type){margin-top:20px;}
    &-link{width: 100%; height:100%; display: inline-block; text-indent: -999px; overflow: hidden;}
  }

  &-botao{background:red; height:100px; left:100%; position:absolute; top:50%; transform:translateY(-50%); transition:opacity 400ms; width:100px; background: url(../img/seta-navegacao.png); background-repeat: no-repeat;  animation: pulandoBotao 3s infinite;}
}


.navegacao.aberta{
  transform:translateX(0);

  .navegacao-botao{opacity:0;}
}
.navegacao.fechada{
  transform:translateX(-100%);

  .navegacao-botao{opacity:1;}
}


@keyframes pulandoBotao {
  0% {
    background-position: left center;

  }

  50% {
    background-position: 20px center;
  }

100%{
    background-position: left center;
    }

}
