
/* Variaveis */

$fonteA:'Lato', sans-serif;
$fonteB:'Ubuntu', sans-serif;
$corA: #6E2B77;
$corB: #ffffff;
$corC: #ffffff;
$corD: #ffffff;
$branco: #fefefe;
$preto: #111111;
$smartphone-width:640px;
$tablet-width:1024px;
$desktop-width:1440px;
$monitor-width:1920px;



/* Mixins */

@mixin mascara {
  display:inline-block; height:100%; width:100%;
}



/* Media Querys */

@mixin smartphone-tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop-monitor-ultrawide {
  @media (min-width: #{$tablet-width} + 1) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$smartphone-width + 1}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-width + 1}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin monitor {
  @media (min-width: #{$desktop-width + 1}) and (max-width: #{$monitor-width}) {
    @content;
  }
}

@mixin ultrawide {
  @media (min-width: #{$monitor-width + 1}) {
    @content;
  }
}
