@import 'utilitarios';

/* TAGS */
body{position:relative;}

/* DIV LIMITE */
.limite{
  @include smartphone{height:100%; overflow:hidden; padding:20px; width:100%;}
  @include tablet{height:100%; overflow:hidden; padding:40px;}
  @include desktop{height:100%; margin:0 auto; max-width:1000px; overflow:hidden; width:100%;}
  @include monitor{height:100%; margin:0 auto; max-width:1400px; overflow:hidden; width:100%;}
  @include ultrawide{height:100%; margin:0 auto; max-width:1600px; overflow:hidden; width:100%;}
}

/* FONT-SIZE */
html {
  font-size: 16px;
  @media (min-width: 800px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

h1 {font-size: 3.157em;}
h2 {font-size: 2.369em;}
h3 {font-size: 1.777em;}
h4 {font-size: 1.333em;}

/* Titulos */
.titulos-a,
.subtitulo-a,
.titulos-b,
.subtitulo-b,
.titulos-separador{margin-bottom:10px;}

.titulos-a,
.subtitulos-a,
.titulos-b,
.subtitulos-b{display:inline-block; font-family:$fonteA; font-variant:small-caps; letter-spacing:1px;}

.titulos-a,
.subtitulos-a{color:$preto;}

.titulos-b,
.subtitulos-b{color:$branco;}

.titulos-separador-a,
.titulos-separador-b{height:20px; margin:0 auto; transition:background-size 1s; width:140px;}

.titulos-separador-a{background:linear-gradient(to right, transparent, $preto, transparent) no-repeat center / 0px 1px;}
.titulos-separador-b{background:linear-gradient(to right, transparent, $branco, transparent) no-repeat center / 0px 1px;}

.ativo .titulos-separador-a,
.ativo .titulos-separador-b{background-size:140px 1px;}

/* Titulos efeito */

.titulos-a,
.titulos-b{opacity:0; transform:translateX(100px); transition:transform 1s, opacity 1s;}

.subtitulos-a,
.subtitulos-b{opacity:0; transform:translateX(-100px); transition:transform 1s, opacity 1s;}

.ativo .titulos-a,
.ativo .titulos-b,
.ativo .subtitulos-a,
.ativo .subtitulos-b{opacity:1; transform:translateX(0);}
