/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  color: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* TAGS */
body {
  position: relative;
}

/* DIV LIMITE */
@media (max-width: 640px) {
  .limite {
    height: 100%;
    overflow: hidden;
    padding: 20px;
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .limite {
    height: 100%;
    overflow: hidden;
    padding: 40px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1400px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 1921px) {
  .limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1600px;
    overflow: hidden;
    width: 100%;
  }
}

/* FONT-SIZE */
html {
  font-size: 16px;
}

@media (min-width: 800px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

h1 {
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
}

/* Titulos */
.titulos-a,
.subtitulo-a,
.titulos-b,
.subtitulo-b,
.titulos-separador {
  margin-bottom: 10px;
}

.titulos-a,
.subtitulos-a,
.titulos-b,
.subtitulos-b {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-variant: small-caps;
  letter-spacing: 1px;
}

.titulos-a,
.subtitulos-a {
  color: #111111;
}

.titulos-b,
.subtitulos-b {
  color: #fefefe;
}

.titulos-separador-a,
.titulos-separador-b {
  height: 20px;
  margin: 0 auto;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
  width: 140px;
}

.titulos-separador-a {
  background: -webkit-linear-gradient(left, transparent, #111111, transparent) no-repeat center/0px 1px;
  background: linear-gradient(to right, transparent, #111111, transparent) no-repeat center/0px 1px;
}

.titulos-separador-b {
  background: -webkit-linear-gradient(left, transparent, #fefefe, transparent) no-repeat center/0px 1px;
  background: linear-gradient(to right, transparent, #fefefe, transparent) no-repeat center/0px 1px;
}

.ativo .titulos-separador-a,
.ativo .titulos-separador-b {
  background-size: 140px 1px;
}

/* Titulos efeito */
.titulos-a,
.titulos-b {
  opacity: 0;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.subtitulos-a,
.subtitulos-b {
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.ativo .titulos-a,
.ativo .titulos-b,
.ativo .subtitulos-a,
.ativo .subtitulos-b {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/* Variaveis */
/* Mixins */
/* Media Querys */
.home {
  min-height: 100vh;
  width: 100%;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
.navegacao {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #6E2B77;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  padding: 10px;
  position: fixed;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  width: 150px;
}

.navegacao-logo {
  background: green;
  height: 70px;
  width: 70px;
}

.navegacao-menu-item {
  background: blue;
  height: 60px;
  width: 60px;
}

.navegacao-menu-item:not(:first-of-type) {
  margin-top: 20px;
}

.navegacao-botao {
  background: red;
  height: 100px;
  left: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  width: 100px;
  background: url(../img/seta-navegacao.png);
  background-repeat: no-repeat;
  -webkit-animation: pulandoBotao 3s infinite;
          animation: pulandoBotao 3s infinite;
}

.navegacao.aberta {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navegacao.aberta .navegacao-botao {
  opacity: 0;
}

.navegacao.fechada {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.navegacao.fechada .navegacao-botao {
  opacity: 1;
}

@-webkit-keyframes pulandoBotao {
  0% {
    background-position: left center;
  }
  50% {
    background-position: 20px center;
  }
  100% {
    background-position: left center;
  }
}

@keyframes pulandoBotao {
  0% {
    background-position: left center;
  }
  50% {
    background-position: 20px center;
  }
  100% {
    background-position: left center;
  }
}
