/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, input, body, button, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  color: inherit;
  font-family: inherit;
  vertical-align: baseline;
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* TAGS */
body {
  position: relative;
}

.main {
  background-color: #f5f5f5;
  min-height: 100vh;
  width: 100%;
}

/* DIV LIMITE */
@media (max-width: 640px) {
  .limite {
    height: 100%;
    overflow: hidden;
    padding: 20px;
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .limite {
    height: 100%;
    overflow: hidden;
    padding: 40px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1400px;
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 1921px) {
  .limite {
    height: 100%;
    margin: 0 auto;
    max-width: 1600px;
    overflow: hidden;
    width: 100%;
  }
}

/* Variaveis */
/* Mixins */
/* Media Querys */
.home {
  background: red;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
.navegacao {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #6E2B77;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  padding: 15px;
  position: fixed;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  width: 100px;
}

.navegacao-logo {
  font-family: "Lato", sans-serif;
  color: #fefefe;
  font-size: 26px;
}

.navegacao-menu-item-sobre {
  background: white url(../img/sobre-navegacao.png) no-repeat center;
}

.navegacao-menu-item-contato {
  background: white url(../img/contato-navegacao.png) no-repeat center;
}

.navegacao-menu-item-conta {
  background: white url(../img/conta-navegacao.png) no-repeat center;
}

.navegacao-menu-item {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.navegacao-menu-item:not(:first-of-type) {
  margin-top: 20px;
}

.navegacao-menu-link {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-indent: -999px;
  overflow: hidden;
}

.navegacao-botao {
  background: red;
  height: 100px;
  left: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  width: 100px;
  background: url(../img/seta-navegacao.png);
  background-repeat: no-repeat;
  -webkit-animation: pulandoBotao 3s infinite;
          animation: pulandoBotao 3s infinite;
}

.navegacao.aberta {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navegacao.aberta .navegacao-botao {
  opacity: 0;
}

.navegacao.fechada {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.navegacao.fechada .navegacao-botao {
  opacity: 1;
}

@-webkit-keyframes pulandoBotao {
  0% {
    background-position: left center;
  }
  50% {
    background-position: 20px center;
  }
  100% {
    background-position: left center;
  }
}

@keyframes pulandoBotao {
  0% {
    background-position: left center;
  }
  50% {
    background-position: 20px center;
  }
  100% {
    background-position: left center;
  }
}

/* Variaveis */
/* Mixins */
/* Media Querys */
.login, .cadastro {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fefefe;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato", sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.login::before, .cadastro::before {
  background: #fefefe;
  border-radius: 50%;
  content: '';
  height: 70px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(100% - (70px/2));
  width: 70px;
}

.login-limite, .cadastro-limite {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-titulo, .cadastro-titulo {
  background: #6E2B77;
  color: #fefefe;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 20px;
  width: 100%;
}

.login-input, .cadastro-input {
  border: 1px solid #ededed;
  border-radius: 3px;
  color: #ccc;
  font-family: "Lato", sans-serif;
  padding: 10px 10px 10px 10px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  width: calc(100% - 40px);
}

.login-input:focus, .cadastro-input:focus {
  color: #6E2B77;
  border: 1px solid #6E2B77;
}

.login-input::-webkit-input-placeholder, .cadastro-input::-webkit-input-placeholder {
  color: #ccc;
}

.login-input:-ms-input-placeholder, .cadastro-input:-ms-input-placeholder {
  color: #ccc;
}

.login-input::placeholder, .cadastro-input::placeholder {
  color: #ccc;
}

.login-input:focus::-webkit-input-placeholder, .cadastro-input:focus::-webkit-input-placeholder {
  color: #6E2B77;
}

.login-input:focus:-ms-input-placeholder, .cadastro-input:focus:-ms-input-placeholder {
  color: #6E2B77;
}

.login-input:focus::placeholder, .cadastro-input:focus::placeholder {
  color: #6E2B77;
}

.login-texto, .cadastro-texto {
  color: #ccc;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.login-texto:hover, .cadastro-texto:hover {
  color: #6E2B77;
}

.login-email, .cadastro-email {
  background: url(../img/login-email.png) no-repeat 10px center;
  padding: 10px 10px 10px 40px;
}

.login-email:focus, .cadastro-email:focus {
  background: url(../img/login-email-focus.png) no-repeat 10px center;
}

.login-senha, .cadastro-senha {
  background: url(../img/login-senha.png) no-repeat 15px center;
  padding: 10px 10px 10px 40px;
}

.login-senha:focus, .cadastro-senha:focus {
  background: url(../img/login-senha-focus.png) no-repeat 15px center;
}

.login-botao, .cadastro-botao {
  background: #fefefe url(../img/login-botao-desativado.png) no-repeat center;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 56px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 300ms;
  transition: all 300ms;
  width: 56px;
}

.login-botao:hover, .cadastro-botao:hover {
  background: #fefefe url(../img/login-botao.png) no-repeat center;
  border: 1px solid #6E2B77;
}

.cadastro {
  width: 500px;
  height: 570px;
  display: none;
}

.login {
  height: 300px;
  width: 350px;
}
